{% extends 'comeo_app/base.html' %}

{% block content %}

<h3 class="text-center">A Django Model form</h3>
<form action="/test/" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name" value="{{ model_form.name.value }}">
    {{ model_form.name.errors }}

    <input type="submit" value="Submit">
</form>


    <div class="text-center">
        <h3>Simple HTML Form</h3>
        <form action="/test/">
            <input type="text" name="email" id="email" placeholder="email">
            <input type="text" name="password" id="password" placeholder="password">
            <input type="submit" value="Submit">
        </form>
    </div>

    <h3 class="text-center">A Bootstrap Form</h3>

    <div class="center-block" style="width:250px;">
        <form action="/test/">
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="text" name="email" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="text" name="password" id="password" placeholder="password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>

    <h3 class="text-center">A Horizontal Bootstrap Form</h3>
<div class="center-block"">
        <form action="/test/" class="form-horizontal">
            <div class="form-group">
                <label for="email1" class="col-sm-5 control-label">Email:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="email" id="email1">
                </div>
            </div>
            <div class="form-group has-error">
                <label for="password1" class="col-sm-5 control-label">Password:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="password" name="password" id="password1">
                    <div class="help-block">Wrong password</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
</div>
<h3 class="text-center">A Django generated basic form</h3>
<form action="/test/" method="post">
    {% csrf_token %}
    <!--{{ formBasic }}-->
    <input type="submit">
</form>

<h3 class="text-center">A Django generated complex form</h3>

<div class="center-block" style="width:250px;">
        <form action="/test/" method="post">
            {% csrf_token %}
            <div class="form-group {% if formBasic.email.errors %}has-error{% endif %}">
                <label for="email2">{{ formBasic.email.label }}</label>
                <input class="form-control" type="text" name="email" id="email2" value="{{ formBasic.email.value }}">
                {% if formBasic.email.errors %}
                {% for error in formBasic.email.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if formBasic.password.errors %}has-error{% endif %}">
                <label for="password2">{{ formBasic.password.label }}</label>
                <input class="form-control" type="password" name="password" id="password2" value="{{ formBasic.password.value }}">
                {% if formBasic.password.errors %}
                {% for error in formBasic.password.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>


{% endblock %}