amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.7
django-bootstrap-form==3.2.1
django-ckeditor==4.5.1
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-extensions==1.6.7
kombu==3.0.35
livereload==2.4.1
Pillow==3.2.0
psycopg2==2.6.1
py2neo==3.1.0
pytz==2016.4
six==1.10.0
sqlparse==0.1.19
tornado==4.3
