{% extends 'comeo_app/base.html' %}
{% block content %}
<div style="padding-left:20px; padding-top:25px">

    <div class="jumbotron">
        <h5>Краудфандинг платформа для локальных проектов и событий</h5>
        <p>Comeo это простой способ собрать деньги для реализации интересной идеи</p>
        <h4  class="text-center">Цели Comeo:</h4>
        <ul>
            <li>Развитие культуры краудфандинга в Молдове</li>
            <li>Способствование формированию активного гражданского общества</li>
            <li>Establishing and promoting discourse of sharing economy and collaborative consumption in Moldova</li>
    </div>



</div>

{% endblock %}