{% load staticfiles %}
{% load some_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">

    <link rel="shortcut icon" type="image/png" href="{% static 'comeo_app/favicon.ico' %}"/>

    <meta charset="utf-8">
    <title>{% block title %}COMEO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'comeo_app/dist/css/vendor/bootstrap.css' %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'comeo_app/dist/css/flat-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'comeo_app/dist/css/my.css' %}" rel="stylesheet">

    {% if outside == 'development' %}
      <!-- livereload development server -->
      <script src="http://127.0.0.1:35729/livereload.js?snipver=1"></script>
    {% endif %}

    <script src="{% static 'comeo_app/dist/js/vendor/jquery.min.js' %}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/resnav_activenav_activepond.min.js"></script>
    <![endif]-->
      {% block headpart %}
      {% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#the-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="{% static 'comeo_app/logo.png' %}"
                           style="width:174px; height:53px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="the-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"></a></li>
                {% if is_beta %}
                <li {% nav_active request 'comeo_app:campaigns_public' %}>
                <a href="{% url 'comeo_app:campaigns_public' %}">{% trans 'Projects' %}</a></li>
                <!--<li {% nav_active request 'comeo_app:campaigns_public' %}>-->
                <!--<a href="{% url 'comeo_app:campaigns_public' %}">{% trans 'Events' %}</a></li>-->
                {% endif %}
                <!--<li {% nav_active request 'comeo_app:faq'%}>
                <a href="{% url 'comeo_app:faq' %}">{% trans 'FAQ' %}</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                {% if user.profile.photo %}
                <li><img class='image' src="{{ user.profile.photo.url }}" style="width:auto; height:53px;"></img></li>
                {% endif %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false">{{ user.first_name }}
                      <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                    <li {% nav_active request 'comeo_app:profile comeo_app:profile_edit'%}"><a href="{% url 'comeo_app:profile' %}">{% trans 'Profile' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li {% nav_active request 'comeo_app:profile_campaigns' %}"><a href="{% url 'comeo_app:profile_campaigns' %}">{% trans 'Campaigns' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'comeo_app:logout' %}">{% trans 'Logout' %}</a></li>
                  </ul>
                </li>

            {% else %}
                {% if is_beta %}
                    <li {% nav_active request 'comeo_app:signup' %}><a href="{% url 'comeo_app:signup' %}">{% trans 'Sign up' %}</a></li>
                    <li {% nav_active request 'comeo_app:login' %}><a href="{% url 'comeo_app:login' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


<div class="container" style="padding-top:85px">

    <!-- language selector -->

    <div class="row text-right" style="margin-bottom:-20px; margin-right:-70px;">
            <div class="radio-inline" style="margin-right:-20px;">
                <label class="radio" onclick="changeLang('en')">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-toggle="radio" {% if LANGUAGE_CODE == "en" %} checked="" {% endif %} class="custom-radio">
                        <span class="icons">
                            <span class="icon-unchecked"></span>
                            <span class="icon-checked"></span>
                        </span>
                        En
                </label>
            </div>

            <div class="radio-inline" style="margin-right:-20px;">
                <label class="radio" onclick="changeLang('ro')">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-toggle="radio" {% if LANGUAGE_CODE == "ro" %} checked="" {% endif %} class="custom-radio">
                        <span class="icons">
                            <span class="icon-unchecked"></span>
                            <span class="icon-checked"></span>
                        </span>
                        Ro
                </label>
            </div>

            <div class="radio-inline" style="margin-right:-20px;">
                <label class="radio" onclick="changeLang('ru')">
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" data-toggle="radio" {% if LANGUAGE_CODE == "ru" %} checked="" {% endif %} class="custom-radio">
                        <span class="icons">
                            <span class="icon-unchecked"></span>
                            <span class="icon-checked"></span>
                        </span>
                        Ru
                </label>
            </div>

        </div>
    <!-- language selector end -->
</div>

    {% block content %}{% endblock %}

    <script src="{% static 'comeo_app/dist/js/flat-ui.min.js' %}"></script>

    <!--language selector UI: whole area of radio button behave like a link on click-->
    <script>
    function changeLang(lang) {
        if (lang == 'ro') {
            window.location.assign("{% url 'comeo_app:ro'%}")
        }else{
            lang_data = {"language": lang};
            $.post( "{% url 'comeo_app:set_language'%}", lang_data );
            // delay is needed to reload the page when LANGUAGE_CODE was updated
            setTimeout(function(){ location.reload(); }, 300);
        }
    }
    </script>

{% if outside != 'development' %}
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    {% if outside == 'lab' %}
    track_id = 'UA-62250280-2'
    {% else %}
    track_id = 'UA-62250280-1'
    {% endif %}

    ga('create', track_id, 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

</body>
</html>
