{% load staticfiles %}
{% load some_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}COMEO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'comeo_app/dist/css/vendor/bootstrap.css' %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'comeo_app/dist/css/flat-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'comeo_app/dist/css/my.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#the-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="{% static 'comeo_app/logo.png' %}" style="width:174px; height:53px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="the-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"></a></li>
                <li {% nav_active request 'comeo_app:about'%}><a href="{% url 'comeo_app:about' %}">About</a></li>
                <li {% nav_active request 'comeo_app:faq'%}><a href="{% url 'comeo_app:faq' %}">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}
                <li {% nav_active request 'comeo_app:profile comeo_app:profile_edit'%}"><a href="{% url 'comeo_app:profile' %}">Profile</a></li>
                <!--<li><img src="{{ user.profile.photo.url }}" style="width:auto; height:53px;"></img></li>-->
                <li><a href="{% url 'comeo_app:logout' %}">Logout ({{ user.first_name }})</a></li>
                {% else %}
                <li {% nav_active request 'comeo_app:signup' %}><a href="{% url 'comeo_app:signup' %}">Sign Up</a></li>
                <li {% nav_active request 'comeo_app:login' %}><a href="{% url 'comeo_app:login' %}">Login</a></li>
                {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div class="container" style="padding-top:60px">
  <div class="row">
      {% block content %}{% endblock %}
  </div>
</div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="{% static 'comeo_app/dist/js/vendor/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'comeo_app/dist/js/flat-ui.min.js' %}"></script>
    <!-- livereload development server -->
    <script src="http://127.0.0.1:35729/livereload.js?snipver=1"></script>
  </body>
</html>