{% extends 'comeo_app/base.html' %}
{% block content %}
  <h1 class="text-center">Progress</h1>
  <h2>Sign Up Templates<small> on a mission 18.03</small></h2>
  


  <h2>Livereload<small> mission complete 17.03</small></h2>
  <ul>
    <ul><em>Livereload</em>
      <li>Server running and watching special static and templates folders</li>
      <li>Executed from command line in separate terminal window</li>
      <li>Any Editor Save triggers browser reload</li>
    </ul>
  </ul>
  <ul>
    <ul><em>Django Comeo</em>
      <li>Boostrap static files integrated</li>
      <li>Home Template integrated</li>
      <li>Home url and view</li>
      <li>+ {{ key }}</li>
    </ul>
  </ul>
{% endblock %}