{% extends 'comeo_app/base.html' %}

{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block headpart %}
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<link href="{% static 'comeo_app/kickdrop/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <p class="lead text-center" style="margin-top:-20px">Краудфандинг платформа для локальных проектов и событий</p>

            <div class="row events-row">
                <div class="col-sm-3">
                    <div class="icon map"></div>
                </div>
                <div class="col-sm-6" style="margin-left:50px;">
                    <h3 style="display:inline-block; padding-top:60px; margin-left:-20px;">События</h3>
                    <p class="row-lead">
                        С помощью Comeo можно собрать деньги необходимые для подготовки к организации события у его будущих посетителей.
                    </p>
                    <div class="row-content">
                        Это похоже на краудфандинг кампанию, но вместо денег, прогресс сбора обозначается количеством посетителей.
                        Если посетителей достаточно, событие состоится, если нет, тогда те кто заплатил за билет, получат деньги обратно.<br>
                        Comeo поможет организовать воркшоп, выставку, лекцию, концерт и многое другое.
                        <br><br>
                        Интересно как это работает?
                        &nbsp&nbsp&nbsp&nbsp
                        <button type="button" class="btn btn-lg btn-info" data-toggle="tooltip" data-placement="top"
                        title="Coming soon">Узнать больше</button>

                    </div>
                </div>
            </div>

            <div class="row projects-row">
                <div class="col-sm-3">
                    <div class="icon love"></div>
                </div>
                <div class="col-sm-6" style="margin-left:50px;">
                    <h3 style="display:inline-block; padding-top:60px; margin-left:-20px;">Проекты</h3>
                    <div class="row-lead">
                        Comeo помогает проектам находить партнеров для коллаборации и необходимые ресурсы.
                    </div>
                    <div class="row-content">
                    У тебя есть хорошая идея?<br>Скорее всего это заинтересует кого-нибудь нибудь еще!
                    Проекты становятся лучше, когда интересные люди работают над ними вместе.
                    <br><br>
                    <button type="button" class="btn btn-lg btn-info" data-toggle="tooltip" data-placement="top"
                    title="Coming soon">Подробнее о проектах</button>
                    </div>
                </div>
            </div>


            <div class="row resources-row">
                <div class="col-sm-3">
                    <div class="icon search"></div>
                </div>
                <div class="col-sm-6" style="margin-left:50px;">
                    <h3 style="display:inline-block; padding-top:60px; margin-left:-20px;">Ресурсы</h3>
                    <div class="row-lead">
                        Ресурсом в Comeo может быть любая вещь или способность которой обладает человек.
                    </div>
                    <div class="row-content">
                        С помощью краудфандинга возможно собрать деньги для любого хорошего проекта.
                        Но идею реализовать намного проще, когда кроме денег, есть доступ ко всем необходимым ресурсам.
                        Во время создания проекта, можно указать необходимые виды ресурсов.
                        Comeo позволяет находить нужные ресурсы в локальном сообществе и отправлять
                        их владельцам предложения для коллаборации.
                        <br><br>
                        <button type="button" class="btn btn-lg btn-info" data-toggle="tooltip"
                        data-placement="top" title="Coming soon">Как устроен поиск ресурсов?</button>
                    </div>
                </div>
            </div>


            <div class="row groups-row">
                <div class="col-sm-3">
                    <div class="icon chat"></div>
                </div>
                <div class="col-sm-6" style="margin-left:50px;">
                    <h3 style="display:inline-block; padding-top:60px; margin-left:-20px;">Группы</h3>
                    <div class="row-lead">
                        Друзья, коллеги, соседи и любые группы с общими целями могут использовать Comeo чтобы упростить сбор денег.
                    </div>
                    <div class="row-content">
                        Участник группы может опубликовать свое предложение и если его поддержут,
                        он получит деньги чтобы реализовать цель.
                        А если нет, тогда те, кто его поддержали, получат деньги обратно.
                        <br><br>
                        Ты участник группы у которой есть общие цели?
                        &nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-lg btn-info"
                        data-toggle="tooltip" data-placement="top" title="Coming soon">Подробнее о группах</button>
                    </div>
                </div>
            </div>

{% endblock %}
