{% extends 'comeo_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h3 class="text-center">Login</h3>
<hr>

<div class="center-block" style="width:250px;">

    {% if login_form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for error in login_form.non_field_errors %}
            <small>{{ error }}</small>
            {% endfor %}
    </div>
{% endif %}

    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group {% if login_form.username.errors %}has-error{% endif %}">
            <label for="username">{{ login_form.username.label }}</label>
            <input class="form-control" type="text" name="username" id="username" value="{{ login_form.username.value }}">
            {% if login_form.username.errors %}
            {% for error in login_form.username.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group {% if login_form.password.errors %}has-error{% endif %}">
            <label for="password">{{ login_form.password.label }}</label>
            <input class="form-control" type="password" name="password" id="password" value="{{ login_form.password.value }}">
            {% if login_form.password.errors %}
            {% for error in login_form.password.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>


</div>





{% endblock %}