<div class="col-md-3">
    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
    class="img-responsive">
    <h5>A Project with loooong headline <br><small>01.04.15 – 30.04.15</small></h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
    </div>

    <a class="btn btn-sm btn-primary">Check out</a>
</div>