{% load staticfiles %}
<div class="col-md-3">

    <div class="camp-headline" style="min-height:52px">
        <h6>{{ campaign.desc_headline }}</h6>
    </div>

    <div class="camp-image"  style="min-height:192px">
        {% if campaign.image_main %}
        <img src="{{ campaign.image_main.url }}" class="img-responsive">
        {% else %}
            <img src="{% static 'comeo_app/placeholder.png' %}" class="img-responsive">
        {% endif %}
    </div>

    <h6><small>00.00.15 – 00.00.15</small></h6>

    <div class="camp-desc" style="min-height:150px">
    <p>{{ campaign.desc_main }}</p>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
    </div>

    <p>{{ campaign.summ_goal }} MDL</p>

    <a class="btn btn-sm btn-primary">Check out</a>

    <br>
    <br>
</div>