{% extends 'comeo_app/base.html' %}
{% block content %}
{% load i18n %}
<p style="padding-top:25px" class="lead text-center">{% trans 'sign up' %}</p>
<hr>
    {% if registered %}
    <strong>Welcome {{ user.get_full_name }}</strong>
    {% else %}

        {% if sign_up_form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% for error in sign_up_form.non_field_errors %}
            <small>{{ error }}</small>
        {% endfor %}
        </div>
        {% endif %}

        <form action="/signup/" class="form-horizontal" method="post">
            {% csrf_token %}

            <div class="form-group {% if sign_up_form.first_name.errors %}has-error{% endif %}">
                <label for="first_name" class="col-sm-5 control-label">{{ sign_up_form.first_name.label }}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="first_name" id="first_name" value="{{ sign_up_form.first_name.value }}">
                    {% for error in sign_up_form.first_name.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group {% if sign_up_form.last_name.errors %}has-error{% endif %}">
                <label for="last_name" class="col-sm-5 control-label">{{ sign_up_form.last_name.label }}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="last_name" id="last_name" value="{{ sign_up_form.last_name.value }}">
                    {% for error in sign_up_form.last_name.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>


            <div class="form-group {% if sign_up_form.email.errors %}has-error{% endif %}">
                <label for="email" class="col-sm-5 control-label">{{ sign_up_form.email.label }}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="email" id="email" value="{{ sign_up_form.email.value }}">
                    {% for error in sign_up_form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group {% if sign_up_form.password.errors %}has-error{% endif %}">
                <label for="password" class="col-sm-5 control-label">{{ sign_up_form.password.label }}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="password" name="password" id="password" value="{{ sign_up_form.password.value }}">
                    {% for error in sign_up_form.password.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-block">{% trans 'submit' %}</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}