{% extends 'profiles/base_profile.html' %}
{% load bootstrap %}
{% load i18n %}

{% block section %}

<h4 style="text-align:center">{% trans 'Add new' %} {{ item_label }}</h4>

<div class="col-sm-4 col-sm-offset-4">

<form action="{% url 'registry:profile_graph_item_create' item_label %}"
      method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_item_form|bootstrap  }}
        <p><button type="submit" class="btn btn-primary">{% trans 'Save' %}</button></p>
</form>

</div>

{% endblock %}
