{% extends 'profiles/base_profile.html' %}
{% load i18n %}

{% block extra_head %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block section %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            {% include 'registry/personal_graph_ui.html' with svgwidth="650" svgheight="500" %}
        </div>
        <div class="col-md-4">

            <!--Resources-->
            <p class="lead">{% trans 'My resources' %}
                <a href="{% url 'registry:profile_graph_item_create' 'resource' %}"><b>+</b></a></p>
            {% for resource in resources %}
                <span>
                <a href="{% url 'registry:profile_graph_item_edit' 'resource' resource.get_node_id %}"
                   class="btn btn-info btn-xs"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ resource.metadata }}">{{ resource.title }}</a>
                </span>
            {% endfor %}

            <!--Skills-->
            <hr>
            <p class="lead">{% trans 'My skills' %}
                <a href="{% url 'registry:profile_graph_item_create' 'skill' %}"><b>+</b></a></p>
            {% for skill in skills %}
                <span>
                <a href="{% url 'registry:profile_graph_item_edit' 'skill' skill.get_node_id %}"
                   class="btn btn-info btn-xs"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ skill.metadata }}">{{ skill.title }}&nbsp;</a>
                </span>
            {% endfor %}

            <!--Interests-->
            <hr>
            <p class="lead">{% trans 'My interests & tags' %}
                <a href="{% url 'registry:profile_graph_item_create' 'interest' %}"><b>+</b></a></p>
            {% for interest in interests %}
                <span>
                <a href="{% url 'registry:profile_graph_item_edit' 'interest' interest.get_node_id %}"
                   class="btn btn-info btn-xs"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ interest.metadata }}">{{ interest.title }}&nbsp;</a>
                </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

