{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% block content %}

<p style="padding-top:25px" class="lead text-center" class="text-center">{% trans 'Login' %}</p>
<hr>

<div class="center-block" style="width:250px;">

    <form action="{% url 'profiles:login' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input name="next" type="hidden" value="{{ next }}">
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Login' %}</button>
    </form>
	<br>
    <small><a href="{% url 'profiles:password_reset' %}">{% trans 'Forgot pass?' %}</a></small>

</div>

{% endblock %}