{% extends 'base/base.html' %}
{% load bootstrap %}
{% block content %}
<p class='lead'>{{ title }}</p>

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<div class="col-sm-4">
<form action="" method="post">{% csrf_token %}
{{ form|bootstrap }}
<button type="submit" class="btn btn-primary">Change</button>
</form>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset</p>

{% endif %}
{% endblock %}