.nodes circle {
  stroke: #fff;
  stroke-width: 0.5px;
}

.nodes text {
  pointer-events: none;
  font: 11px helvetica;
}

.curve-link {
  fill: none;
  stroke: aquamarine;
  stroke-width: 2.5px;
}
#link-arrow {
  fill: aquamarine;
}
