
/* Carousel */

@media all and (max-device-width: 767px) {
	.carousel, .middle-texts {
		display: none;
	}
}

#theCarousel {
    border-radius: 4px;
    background-color: #ecf0f1;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
	display:none;
}

/* Project index page */

.project {
    padding-bottom:30px;
}

.c {
    padding-right: 260px;
    padding-left: 60px;
    background-color:aquamarine;
}

.panel-default > .panel-heading {
  background-color: #eff0f2;
}

.panel-body {
    font-size: 79%;
    font-weight: 300;
}

.panel-title {
    font-weight: 400;
}

/* .navbar {
    background: rgba(0,0,0,0);
    background-color: yellow;
  }

.logo {
	opacity:0.8;
} */

.navbar {
    opacity:0.90;
}


.base-content-container-fluid {
    margin-top:85px;
}

.base-content {
}

/* Common styles */

.col-centered {
    float: none;
    margin: 0 auto;
}

.colored-row-a {
    background-color: #ccd9ff;
}

.colored-row-b {
    background-color: #ff9b99;
}

.colored-row-c {
    background-color: #ccf2ff;
}

.colored-row-d {
    background-color: #ffe699;
}

.thintext-title {
    font-weight: 300;
    line-height: 1.4;
}