{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% block content %}

<div class="row">

    <div class="col-sm-4">
        <h5>{{ campaign.desc_headline }}</h5>
        <p class="lead">Поддержать проект</p>
        <p>Выбор суммы и способа оплаты</p>

            <form action="{% url 'crowdfunding:campaign_donate' campaign.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ donate_form|bootstrap }}

                {% if new_user_form %}
                <p>Ваши контакты</p>
                {{ new_user_form|bootstrap }}
                {% endif %}

                <p><button type="submit" class="btn btn-primary">{% trans 'Donate' %}</button></p>
            </form>
    </div>

</div>


{% endblock %}