{% extends 'base/base.html' %}
{% load i18n %}
{% load base_tags %}
{% block content %}
    <div style="padding-left:20px; padding-top:25px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class={% nav_active request 'profiles:profile' %}>
                <a href="{% url 'profiles:profile' %}">Profile</a>
            </li>
            <li role="presentation" class={% nav_active request 'profiles:profile_campaigns' %}>
                <a href="{% url 'profiles:profile_campaigns' %}">Campaigns</a>
            </li>
            <li role="presentation" class={% nav_active request 'registry:profile_graph' %}>
                <a href="{% url 'registry:profile_graph' %}">Graph</a>
            </li>
        </ul>
        <br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block section %}
        {% endblock %}
    </div>
{% endblock %}
