{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% block content %}

<p style="padding-top:25px" class="lead text-center" class="text-center">{% trans 'Profile edit' %}</p>
<hr>

<div class="col-sm-4 col-sm-offset-4">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'profiles:profile_edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|bootstrap }}
        {{ profile_form|bootstrap }}
        <a href="{% url 'profiles:password_change' %}">{% trans 'Change password' %}</a>
        <p></p>
        <p><button type="submit" class="btn btn-primary">{% trans 'Save' %}</button></p>
    </form>

</div>

{% endblock %}