{% extends 'profiles/base_profile.html' %}
{% load bootstrap %}
{% load i18n %}
{% block section %}

<div class="col-md-6 col-xs-12 col-md-offset-3">

    <form action="{% url 'profiles:settings' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|bootstrap }}
        {{ profile_form|bootstrap }}
        <a href="{% url 'profiles:password_change' %}">{% trans 'Change password' %}</a>
        <p></p>
        <p><button type="submit" class="btn btn-primary">{% trans 'Save' %}</button></p>
    </form>

</div>

{% endblock %}