<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel">
        <div class="panel-heading" role="tab" id="q2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ2" aria-expanded="true" aria-controls="collapseQ2">
                    Как я смогу получить деньги, которые соберет мой проект?
                </a>
            </h4>
        </div>
        <div id="collapseQ2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
            <div class="panel-body">
                Деньги можно будет перевести на банковский счет.
                Для этого нужно будет указать реквизиты в настройках.
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-heading" role="tab" id="q3">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ3" aria-expanded="true" aria-controls="collapseQ3">
                    Если у меня еще нет банковского счета, смогу ли я создать проект и собирать деньги?
                </a>
            </h4>
        </div>
        <div id="collapseQ3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
            <div class="panel-body">
                Если проект собирает сумму меньше 5000 лей, тогда автор проекта может получить деньги наличными.
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" role="tab" id="q4">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ4" aria-expanded="true" aria-controls="collapseQ4">
                    Какой % от собранных денег остается у платформы?
                </a>
            </h4>
        </div>
        <div id="collapseQ4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
            <div class="panel-body">
                Comeo это некоммерческая организация. Когда автор проекта получает деньги, у Comeo остается X % необходимых для оплаты комиссий денежных переводов и технической поддержки сайта<a href="{% url 'base:about' %}" target="_blank"> (см. также Цели Comeo)</a>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" role="tab" id="q5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ5" aria-expanded="true" aria-controls="collapseQ5">
                    Если мой проект соберет только часть запланированной суммы, смогу ли я получить деньги?
                </a>
            </h4>
        </div>
        <div id="collapseQ5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
            <div class="panel-body">
                Да, часть денег возможно будет получить, если при создании проекта выбрать фиксированный тип сбора денег.<br>Если выбран гибкий тип, тогда деньги вернутся вкладчикам.
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" role="tab" id="q6">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ6" aria-expanded="true" aria-controls="collapseQ6">
                    Возможно ли предоставлять вознаграждения для тех кто поддерживает мою идею или продукт?
                </a>
            </h4>
        </div>
        <div id="collapseQ6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q6">
            <div class="panel-body">
                При создании проекта можно будет указать, планируете ли вы предоставлять вознаграждение вкладчикам.<br>Возможно будет определить разные вознаграждения для конкретных сумм.
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" role="tab" id="q7">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseQ7" aria-expanded="true" aria-controls="collapseQ7">
                    Как можно будет передать деньги автору идеи? Какие способы оплаты поддерживает сайт?
                </a>
            </h4>
        </div>
    <div id="collapseQ7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q7">
        <div class="panel-body">
            Сайт поддерживает оплату банковскими картами Visa/Mastercard.
            Также возможна оплата без банковской карты, наличными, через платежный терминал.<br>
            Инфо обо всех денежных переводах сохраняется в системе Comeo и в итоге информация обо всех вкладах видна на странице конкретного проекта.
        </div>
    </div>

</div>