{% extends 'base/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
    <link href="{% static 'base/vendor/kickdrop/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div style="padding:20px;">
    <p class="lead text-center">Crowdfunding platforma pentru proiecte și evenimente locale</p>
    <div class="row">
        <div class="text-center" style="padding:10px">
            <img src="{% static 'base/images/process.png' %}" style="width:auto; height:58px;">&nbsp;&nbsp;&nbsp;&nbsp;Dezvoltare și traducere sunt în progress. Lansare în curând.<br>
        </div>
    </div>

    <div class="text-center" style="margin-top:15px">
        <a href="mailto:contact@comeo.org.md">
            <img src="{% static 'base/images/mail.png' %}" style="width:auto; height:42px;">
            <br>
            <p class="lead" style="margin-top:10px">contact@comeo.org.md</p>
        </a>
    </div>
    <br>

</div>

{% endblock %}