{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% block content %}

<p style="padding-top:25px" class="lead text-center">{% trans 'Edit campaign' %}</p>
<hr>

<div class="col-sm-5">

<form action="{% url 'comeo_app:campaign_edit' campaign.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ campaign_form.media }}
    {{ campaign_form|bootstrap }}

    <p>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        {% if campaign %}
            {# do not show these buttons when form is showed for campaign create view #}

            {% if campaign.state == "draft" %}
                <button type="submit" class="btn btn-success" name="publish" value=" ">{% trans 'Publish' %}</button>
            {% endif %}
        <!--<button type="submit" class="btn btn-info" name="publish" value=" ">{% trans 'Preview' %}</button>-->

            <br><br>
            <button type="submit" class="btn btn-danger" name="delete" value=" ">{% trans 'Delete' %}</button>
        {% endif %}


    </p>

</form>

</div>

{% endblock %}