{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<p style="padding-top:25px" class="lead text-center">{% trans 'Create campaign' %}</p>
<hr>

<div class="col-sm-5">

<form action="{% url 'comeo_app:campaign_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ campaign_form.media }}
    {{ campaign_form|bootstrap }}

    <p><button type="submit" class="btn btn-primary">{% trans 'Save' %}</button></p>

</form>

</div>

{% endblock %}